<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <table border="2">
        <tbody>
        <tr  style="font-weight: 600">
            <th> ID </th>
            <th>NAME</th>
            <th>AGE</th>
            <th>ACTION</th>
        </tr>
        <tr  th:each="user : ${allUsers}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.getName()}">1</td>
            <td th:text="${user.getAge()}">1</td>
            <td>
                <a href="user.html" th:href="@{/edit/{userId}(userId=${user.id})}">edit</a>
                <a href="user.html" th:href="@{/delete/{userId}(userId=${user.id})}">delete</a>            </td>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<a href="user.html" th:href="@{/new/}">Add new user</a>
</body>
</html>